@import 'tailwindcss';

@import './tailwindcss/plugins.css';
@import './tailwindcss/animations.css';
@import './tailwindcss/colors.css';
@import './tailwindcss/fonts.css';

@theme {
  --background-image-texture-1: url('/images/texture-1.jpg');
  --background-image-texture-2: url('/images/texture-2.jpg');
  --background-image-texture-3: url('/images/texture-3.jpg');
}

.text-stroke {
  -webkit-text-stroke: 1px var(--color-secondary);
  color: transparent;
}
